<p style="color: green"><%= notice %></p>

<%= render @event_artist %>

<div>
  <%= link_to "Edit this event artist", edit_event_artist_path(@event_artist) %> |
  <%= link_to "Back to event artists", event_artists_path %>

  <%= button_to "Destroy this event artist", @event_artist, method: :delete %>
</div>
