<div id="<%= dom_id artist %>">
  <p>
    <strong>User:</strong>
    <%= artist.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= artist.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= artist.genre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= artist.website %>
  </p>

</div>
