<div class="events_banner">
  <h2>ARTISTS</h2>
</div>
<div class="artists-searchbar">
  <%= form_with url: artists_path, method: :get, class: "d-flex w-50" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for artists..." %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container">
  <div class="artist-cards-container">
    <% @artists.each do |artist| %>
      <%= link_to artist_path(artist) do %>
        <div class="artist-card">
          <% if artist.photo.attached? %>
            <%= cl_image_tag artist.photo.key %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="microphone">
          <% end %>
          <div class="artist-card-infos">
            <h3><%= artist.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
