<div class="py-5 container-artist-show">
  <div>
    <%= link_to artists_path, class: "back-arrow" do %>
    <i class="fa-solid fa-circle-arrow-left"></i> 
    <% end %>
  </div>
    <div class="row">
     <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-translucent rounded p-3 shadow">
        <h3>Create your Artist profile</h3>
          <%= simple_form_for @artist do |f| %>
            <%= f.input :name, placeholder: 'Nirvana' %>
            <%= f.input :description, placeholder: 'Tell us about the music' %>
            <%= f.input :website %>
            <%= f.input :genre,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Artist::CATEGORIES %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'main-button' %>
          <% end %>
      </div>
    </div>
  </div>
</div>


 <%# <%= render "form", artist: @artist %>
