<div class="container-artist-show">
  <div class="name-banner-artist-show">
    <%= @artist.name %>
  </div>
  <div class="artist-info">
    <div class="artist-info-img">
      <% if @artist.photo.attached? %>
        <%= cl_image_tag @artist.photo.key %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="microphone">
      <% end %>
    </div>
    <h3>Artist Info</h3>
    <div id="<%= dom_id @artist %>">
      <%# <p>
        <strong>User:</strong>
        <%= @artist.user_id %>
      <%# </p> %>
      <p>
        <strong>Name:</strong>
        <%= @artist.name %>
      </p>
      <p>
        <strong>Genre:</strong>
        <%= @artist.genre %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @artist.description %>
      </p>
      <p>
        <strong>Website:</strong>
        <%= @artist.website %>
      </p>

      <div class="event-cards-container">
        <% @artist.events.each do |event|%>
          <%= link_to event_path(event) do %>
            <div class="event-card">
              <%= cl_image_tag event.photo.key %>
              <div class="event-card-infos">
                <h3><%= event.title %></h3>
                <h5><%= event.venue.name %></h5>
                <div class="event-card-date-price">
                  <h5><%= event.start_date.strftime("%I:%M %p, %A, %b %d")%></h5>
                  <h4>R <%= event.ticket_price %></h4>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="btns-artist-show">
      <%= link_to "All Artists", artists_path, class:"btn-back" %>
      <%# <%= link_to 'Add to Event', event_artists_path(event_id: session[:event_id], artist_id: @artist.id), method: :post, class:"btn-add"  %>
      <% if current_user == @artist.user %>
        <%= link_to "Edit your profile", edit_artist_path(@artist), class:"btn-edit" %>
        <%= button_to "Delete your profile", @artist, method: :delete, class:"btn-delete"%>
      <% end %>
    </div>
  </div>
</div>
