<div class="container-artist-show">
  <div class="name-banner-artist-show">
    <%= @artist.name %>
  </div>

  <div class="artist-info">

    <div class="artist-info-img">
    </div>

    <h3>Artist Info</h3>
    <div id="<%= dom_id @artist %>">
      <%# <p>
        <strong>User:</strong>
        <%= @artist.user_id %>
      <%# </p> %>

      <p>
        <strong>Name:</strong>
        <%= @artist.name %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= @artist.genre %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @artist.description %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= @artist.website %>
      </p>
    </div>
    <div class="btns-artist-show">
      <%= link_to "All Artists", artists_path, class:"btn-back" %>
      <%# <%= link_to 'Add to Event', event_artists_path(event_id: session[:event_id], artist_id: @artist.id), method: :post, class:"btn-add"  %>
      <% if current_user == @artist.user %>
      <%= link_to "Edit your profile", edit_artist_path(@artist), class:"btn-edit" %>
      <%= button_to "Delete your profile", @artist, method: :delete, class:"btn-delete"%>
      <% end %>
    </div>
  </div>
</div>
