<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png", alt: "Logo") %>
    <% end %>

    <nav class="navbar-menu">
      <ul class="navbar-links">
        <li><%= link_to 'CREATE EVENT', events_path, class: 'navbar-link' %></li>
        <li><%= link_to 'CREATE VENUE', new_venue_path, class: 'navbar-link' %></li>
        <li><%= link_to 'CREATE ARTIST', artists_path, class: 'navbar-link' %></li>
      </ul>
    </nav>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DISCOVER
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to 'EVENTS', events_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'VENUES', venues_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'ARTISTS', artists_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CREATE
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to 'EVENT', new_event_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'VENUE', new_venue_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'ARTIST', new_artist_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item",class: "nav-link" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>

  </div>
</div>
