<div id="<%= dom_id event %>">

  <p>
    <strong>Venue:</strong>
    <%= event.venue.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Starts:</strong>
    <%= event.start_date.strftime("%I:%M %p, %A, %b %d")%>
  </p>

  <p>
    <strong>Ends:</strong>
    <%= event.end_date.strftime("%I:%M %p, %A, %b %d")%>
  </p>

  <p>
    <strong>Ticket price:</strong>
    R <%= event.ticket_price %>
  </p>

  <p>
    <strong>Artists:</strong>
    <% @event.artists.each do |artist| %>
      <%= artist.name %>
    <% end %>
  </p>

</div>
