<div class="py-5 container-event-show">
  <div>
    <%= link_to events_path, class: "back-arrow" do %>
    <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="new-artist-background rounded p-3 shadow">
          <h3 class="text-center">Upload your event details</h3>
            <%= simple_form_for @event do |f| %>
                  <%= f.association :venue %>
                  <%= f.input :title %>
                  <%= f.input :description %>
                  <%= f.input :start_date, as: :string, input_html: { class: 'flatpickr-input' } %>
                  <%= f.input :end_date, as: :string, input_html: { class: 'flatpickr-input' } %>
                  <%= f.input :photo, as: :file %>
                  <%= f.input :ticket_price %>
                  <%= f.association :artists, as: :check_boxes, label_method: :name, value_method: :id %>
            <%= f.submit class: 'event-button' %>
            <% end %>
        </div>
    </div>
  </div>
</div>


<div>

  <%= link_to "Back to events", events_path %>
</div>
