<div class="container-event-show">
  <div class="name-banner-event-show">
    <%= @event.title %>
  </div>
  <div class="event-info">
    <div class="event-info-img">
      <%= cl_image_tag @event.photo.key %>
    </div>
    <%= render @event %>
    <div class="container btns-event-show">
      <%= link_to "All events", events_path, class:"event-button" %>
      <% if @event.user == current_user %>
        <%= link_to "Edit this event", edit_event_path(@event), class:"event-button" %>
        <%= button_to "Delete this event", @event, method: :delete, class:"event-button" %>
      <% end %>
    </div>
  </div>
</div>
