
<div class="banner">
  <div class="banner-text">
    <h2>G I G U I D E</h2>
  </div>
</div>

<div class="searchbar">
  <%= form_with url: root_path, method: :get, class: "d-flex w-50" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for events..." %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="events_banner">
  <h2>UPCOMING EVENTS</h2>
</div>

<div class="event-cards-container">
  <% @events.each do |event|%>
    <%= link_to event_path(event) do %>
      <div class="event-card">
        <%= image_tag("CAPE.jpg") %>
        <h3><%= event.title %></h3>
        <h5><%= event.start_datetime.strftime("%A, %b %d")%></h5>
        <h4> R <%= event.ticket_price %></h4>
      </div>
    <% end %>
  <% end %>
</div>
