<div id="<%= dom_id venue %>">
  <p>
    <strong>User:</strong>
    <%= venue.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= venue.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= venue.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= venue.website %>
  </p>

</div>
