<%# <p style="color: green"><%= notice</p> %>
<div class="events_banner">
  <h2>VENUES</h2>
</div>

<div class="venues-container">
  <div class="venue-cards-container">
    <% @venues.each do |venue| %>
      <div class="venue-card">
        <div class=venue-card-img>
          <%= cl_image_tag venue.photo.key %>
        </div>

        <h3> <%= venue.name %> </h3>
      </div>
    <% end %>
  </div>
  <div class="venues-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<%= link_to "New venue", new_venue_path %>
