<div class="py-5 container-venue-show">
  <div>
    <%= link_to venues_path, class: "back-arrow" do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-translucent rounded p-3 shadow">
        <h3>Upload your venue details</h3>
          <%= simple_form_for @venue do |f| %>
            <%= f.input :name, placeholder: 'JamRock Theatre' %>
            <%= f.input :website %>
            <%= f.input :email %>
            <%= f.input :capacity %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: 'venue-button' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
