<div class="container-venue-show">
  <div class="venue-info">
    <div class="venue-show-top-info">
      <div class="venue-show-image-section">
        <%= cl_image_tag @venue.photo.key %>
      </div>
      <div class="venue-show-infos-section">
        <div class="venue-show-name-description">
          <h2><%= @venue.name %></h2>
          <div class="venue-show-description">
            <p><%= @venue.description %></p>
          </div>
          <div class="venue-show-infos-bottom">
            <div class="venue-icon-and-info">
              <h6><i class="fa-solid fa-phone"></i></h6>
              <h6><%= @venue.phone_number %></h6>
            </div>
            <div class="venue-icon-and-info">
              <h6><i class="fa-solid fa-users"></i></h6>
              <h6><%= @venue.capacity %></h6>
            </div>
            <div class="venue-icon-and-info">
              <h6><i class="fa-solid fa-envelope"></i></h6>
              <h6><%= @venue.email %></h6>
            </div>
          </div>
          <h4>Upcoming Events:</h4>
          <div class="venue-show-events-section">
            <% if @venue.events != nil %>
              <% @venue.events.each do |event| %>
                <%= link_to event_path(event) do %>
                  <div class="venue-show-event-card">
                    <% if event.photo.attached? %>
                      <%= cl_image_tag event.photo.key %>
                    <% else %>
                      <img src="https://images.unsplash.com/photo-1486556396467-d83d2b23514b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="smokey scene">
                    <% end %>
                    <div class="venue-show-event-card-infos">
                      <h3><%= event.title %></h3>
                      <div class="venue-show-event-card-date-price">
                        <h5><%= event.start_date.strftime("%A, %b %d")%></h5>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="btns-venue-show">
            <%= link_to "Back to venues", venues_path, class:"venue-button"  %>
            <%= link_to "Edit venue", edit_venue_path(@venue), class:"venue-button" %>
            <%= button_to "Delete venue", @venue, method: :delete, class:"venue-button"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
