<div class="container-venue-show">
  <div class="venue-info">
    <%# <%= render @venue %>
    <%= cl_image_tag @venue.photo.key %>

    <div class="btns-venue-show">
      <%= link_to "Edit this venue", edit_venue_path(@venue), class:"venue-button" %>
      <%= link_to "Back to venues", venues_path, class:"venue-button"  %>
      <%= button_to "Destroy this venue", @venue, method: :delete, class:"venue-button"  %>
    </div>

  </div>
</div>
